-- Script Date: 10/15/2012 10:25 PM  - Generated by ExportSqlCe version 3.5.2.18
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 675840
-- Created: 4/22/2012 10:05 PM

-- User Table information:
-- Number of tables: 27
-- be_BlogRollItems: 6 row(s)
-- be_Blogs: 1 row(s)
-- be_Categories: 1 row(s)
-- be_DataStoreSettings: 16 row(s)
-- be_FileStoreDirectory: 0 row(s)
-- be_FileStoreFiles: 0 row(s)
-- be_FileStoreFileThumbs: 0 row(s)
-- be_PackageFiles: 33 row(s)
-- be_Packages: 1 row(s)
-- be_Pages: 0 row(s)
-- be_PingService: 8 row(s)
-- be_PostCategory: 1 row(s)
-- be_PostComment: 0 row(s)
-- be_PostNotify: 0 row(s)
-- be_Posts: 1 row(s)
-- be_PostTag: 2 row(s)
-- be_Profiles: 0 row(s)
-- be_QuickNotes: 0 row(s)
-- be_QuickSettings: 0 row(s)
-- be_Referrers: 0 row(s)
-- be_RightRoles: 65 row(s)
-- be_Rights: 40 row(s)
-- be_Roles: 3 row(s)
-- be_Settings: 63 row(s)
-- be_StopWords: 108 row(s)
-- be_UserRoles: 1 row(s)
-- be_Users: 1 row(s)

CREATE TABLE [be_Users] (
  [UserID] int NOT NULL  IDENTITY (2,1)
, [BlogID] uniqueidentifier NOT NULL
, [UserName] nvarchar(100) NOT NULL DEFAULT ''
, [Password] nvarchar(255) NOT NULL DEFAULT ''
, [LastLoginTime] datetime NULL
, [EmailAddress] nvarchar(100) NULL DEFAULT ''
);
GO
CREATE TABLE [be_UserRoles] (
  [UserRoleID] int NOT NULL  IDENTITY (2,1)
, [BlogID] uniqueidentifier NOT NULL
, [UserName] nvarchar(100) NOT NULL
, [Role] nvarchar(100) NOT NULL
);
GO
CREATE TABLE [be_StopWords] (
  [StopWordRowId] int NOT NULL  IDENTITY (109,1)
, [BlogId] uniqueidentifier NOT NULL
, [StopWord] nvarchar(50) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Settings] (
  [SettingRowId] int NOT NULL  IDENTITY (64,1)
, [BlogId] uniqueidentifier NOT NULL
, [SettingName] nvarchar(50) NOT NULL DEFAULT ''
, [SettingValue] ntext NULL DEFAULT ''
);
GO
CREATE TABLE [be_Roles] (
  [RoleID] int NOT NULL  IDENTITY (4,1)
, [BlogID] uniqueidentifier NOT NULL
, [Role] nvarchar(100) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Rights] (
  [RightRowId] int NOT NULL  IDENTITY (41,1)
, [BlogId] uniqueidentifier NOT NULL
, [RightName] nvarchar(100) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_RightRoles] (
  [RightRoleRowId] int NOT NULL  IDENTITY (66,1)
, [BlogId] uniqueidentifier NOT NULL
, [RightName] nvarchar(100) NOT NULL DEFAULT ''
, [Role] nvarchar(100) NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Referrers] (
  [ReferrerRowId] int NOT NULL  IDENTITY (1,1)
, [BlogId] uniqueidentifier NOT NULL
, [ReferrerId] uniqueidentifier NOT NULL
, [ReferralDay] datetime NOT NULL DEFAULT getdate()
, [ReferrerUrl] nvarchar(255) NOT NULL DEFAULT ''
, [ReferralCount] int NOT NULL
, [Url] nvarchar(255) NULL DEFAULT ''
, [IsSpam] bit NULL
);
GO
CREATE TABLE [be_QuickSettings] (
  [QuickSettingID] int NOT NULL  IDENTITY (1,1)
, [BlogID] uniqueidentifier NOT NULL
, [UserName] nvarchar(100) NOT NULL
, [SettingName] nvarchar(255) NOT NULL
, [SettingValue] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [be_QuickNotes] (
  [QuickNoteID] int NOT NULL  IDENTITY (1,1)
, [NoteID] uniqueidentifier NOT NULL
, [BlogID] uniqueidentifier NOT NULL
, [UserName] nvarchar(100) NOT NULL
, [Note] ntext NOT NULL
, [Updated] datetime NULL
);
GO
CREATE TABLE [be_Profiles] (
  [ProfileID] int NOT NULL  IDENTITY (1,1)
, [BlogID] uniqueidentifier NOT NULL
, [UserName] nvarchar(100) NULL DEFAULT ''
, [SettingName] nvarchar(200) NULL DEFAULT ''
, [SettingValue] ntext NULL DEFAULT ''
);
GO
CREATE TABLE [be_PostTag] (
  [PostTagID] int NOT NULL  IDENTITY (5,1)
, [BlogID] uniqueidentifier NOT NULL
, [PostID] uniqueidentifier NOT NULL
, [Tag] nvarchar(50) NULL DEFAULT ''
);
GO
CREATE TABLE [be_Posts] (
  [PostRowID] int NOT NULL  IDENTITY (2,1)
, [BlogID] uniqueidentifier NOT NULL
, [PostID] uniqueidentifier NOT NULL DEFAULT newid()
, [Title] nvarchar(255) NULL DEFAULT ''
, [Description] ntext NULL DEFAULT ''
, [PostContent] ntext NULL DEFAULT ''
, [DateCreated] datetime NULL
, [DateModified] datetime NULL
, [Author] nvarchar(50) NULL DEFAULT ''
, [IsPublished] bit NULL
, [IsCommentEnabled] bit NULL
, [Raters] int NULL
, [Rating] real NULL
, [Slug] nvarchar(255) NULL DEFAULT ''
, [IsDeleted] bit NOT NULL DEFAULT 0
);
GO
CREATE TABLE [be_PostNotify] (
  [PostNotifyID] int NOT NULL  IDENTITY (1,1)
, [BlogID] uniqueidentifier NOT NULL
, [PostID] uniqueidentifier NOT NULL
, [NotifyAddress] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_PostComment] (
  [PostCommentRowID] int NOT NULL  IDENTITY (1,1)
, [BlogID] uniqueidentifier NOT NULL
, [PostCommentID] uniqueidentifier NOT NULL DEFAULT newid()
, [PostID] uniqueidentifier NOT NULL
, [ParentCommentID] uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000'
, [CommentDate] datetime NOT NULL
, [Author] nvarchar(255) NULL DEFAULT ''
, [Email] nvarchar(255) NULL DEFAULT ''
, [Website] nvarchar(255) NULL DEFAULT ''
, [Comment] ntext NULL DEFAULT ''
, [Country] nvarchar(255) NULL DEFAULT ''
, [Ip] nvarchar(50) NULL DEFAULT ''
, [IsApproved] bit NULL
, [ModeratedBy] nvarchar(100) NULL DEFAULT ''
, [Avatar] nvarchar(255) NULL DEFAULT ''
, [IsSpam] bit NOT NULL DEFAULT 0
, [IsDeleted] bit NOT NULL DEFAULT 0
);
GO
CREATE TABLE [be_PostCategory] (
  [PostCategoryID] int NOT NULL  IDENTITY (3,1)
, [BlogID] uniqueidentifier NOT NULL
, [PostID] uniqueidentifier NOT NULL
, [CategoryID] uniqueidentifier NOT NULL
);
GO
CREATE TABLE [be_PingService] (
  [PingServiceID] int NOT NULL  IDENTITY (9,1)
, [BlogID] uniqueidentifier NOT NULL
, [Link] nvarchar(255) NULL DEFAULT ''
);
GO
CREATE TABLE [be_Pages] (
  [PageRowID] int NOT NULL  IDENTITY (1,1)
, [BlogID] uniqueidentifier NOT NULL
, [PageID] uniqueidentifier NOT NULL DEFAULT newid()
, [Title] nvarchar(255) NULL DEFAULT ''
, [Description] ntext NULL DEFAULT ''
, [PageContent] ntext NULL DEFAULT ''
, [Keywords] ntext NULL DEFAULT ''
, [DateCreated] datetime NULL
, [DateModified] datetime NULL
, [IsPublished] bit NULL
, [IsFrontPage] bit NULL
, [Parent] uniqueidentifier NULL
, [ShowInList] bit NULL
, [Slug] nvarchar(255) NULL DEFAULT ''
, [IsDeleted] bit NOT NULL DEFAULT 0
);
GO
CREATE TABLE [be_Packages] (
  [PackageId] nvarchar(128) NOT NULL
, [Version] nvarchar(128) NOT NULL
);
GO
CREATE TABLE [be_PackageFiles] (
  [PackageId] nvarchar(128) NOT NULL
, [FileOrder] int NOT NULL
, [FilePath] nvarchar(255) NOT NULL
, [IsDirectory] bit NOT NULL
);
GO
CREATE TABLE [be_FileStoreFileThumbs] (
  [thumbnailId] uniqueidentifier NOT NULL
, [FileId] uniqueidentifier NOT NULL
, [size] int NOT NULL
, [contents] image NOT NULL
);
GO
CREATE TABLE [be_FileStoreFiles] (
  [FileID] uniqueidentifier NOT NULL
, [ParentDirectoryID] uniqueidentifier NOT NULL
, [Name] nvarchar(255) NOT NULL
, [FullPath] nvarchar(255) NOT NULL
, [Contents] image NOT NULL
, [Size] int NOT NULL
, [CreateDate] datetime NOT NULL
, [LastAccess] datetime NOT NULL
, [LastModify] datetime NOT NULL
);
GO
CREATE TABLE [be_FileStoreDirectory] (
  [Id] uniqueidentifier NOT NULL
, [ParentID] uniqueidentifier NULL
, [BlogID] uniqueidentifier NOT NULL
, [Name] nvarchar(255) NOT NULL
, [FullPath] nvarchar(1000) NOT NULL
, [CreateDate] datetime NOT NULL
, [LastAccess] datetime NOT NULL
, [LastModify] datetime NOT NULL
);
GO
CREATE TABLE [be_DataStoreSettings] (
  [DataStoreSettingRowId] int NOT NULL  IDENTITY (65,1)
, [BlogId] uniqueidentifier NOT NULL
, [ExtensionType] nvarchar(50) NOT NULL DEFAULT ''
, [ExtensionId] nvarchar(100) NOT NULL DEFAULT ''
, [Settings] ntext NOT NULL DEFAULT ''
);
GO
CREATE TABLE [be_Categories] (
  [CategoryRowID] int NOT NULL  IDENTITY (2,1)
, [BlogID] uniqueidentifier NOT NULL
, [CategoryID] uniqueidentifier NOT NULL DEFAULT newid()
, [CategoryName] nvarchar(50) NULL DEFAULT ''
, [Description] nvarchar(200) NULL DEFAULT ''
, [ParentID] uniqueidentifier NULL
);
GO
CREATE TABLE [be_Blogs] (
  [BlogRowId] int NOT NULL  IDENTITY (2,1)
, [BlogId] uniqueidentifier NOT NULL
, [BlogName] nvarchar(255) NOT NULL
, [Hostname] nvarchar(255) NOT NULL
, [IsAnyTextBeforeHostnameAccepted] bit NOT NULL
, [StorageContainerName] nvarchar(255) NOT NULL
, [VirtualPath] nvarchar(255) NOT NULL
, [IsPrimary] bit NOT NULL
, [IsActive] bit NOT NULL
, [IsSiteAggregation] bit NOT NULL
);
GO
CREATE TABLE [be_BlogRollItems] (
  [BlogRollRowId] int NOT NULL  IDENTITY (7,1)
, [BlogId] uniqueidentifier NOT NULL
, [BlogRollId] uniqueidentifier NOT NULL
, [Title] nvarchar(255) NOT NULL DEFAULT ''
, [Description] nvarchar(255) NULL DEFAULT ''
, [BlogUrl] nvarchar(255) NOT NULL DEFAULT ''
, [FeedUrl] nvarchar(255) NULL DEFAULT ''
, [Xfn] nvarchar(255) NULL DEFAULT ''
, [SortIndex] int NOT NULL
);
GO
SET IDENTITY_INSERT [be_Users] ON;
GO
INSERT INTO [be_Users] ([UserID],[BlogID],[UserName],[Password],[LastLoginTime],[EmailAddress]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'Admin',N'',{ts '2010-10-11 17:44:31.990'},N'email@example.com');
GO
SET IDENTITY_INSERT [be_Users] OFF;
GO
SET IDENTITY_INSERT [be_UserRoles] ON;
GO
INSERT INTO [be_UserRoles] ([UserRoleID],[BlogID],[UserName],[Role]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'Admin',N'Administrators');
GO
SET IDENTITY_INSERT [be_UserRoles] OFF;
GO
SET IDENTITY_INSERT [be_StopWords] ON;
GO
INSERT INTO [be_StopWords] ([StopWordRowId],[BlogId],[StopWord]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'a');
GO
INSERT INTO [be_StopWords] ([StopWordRowId],[BlogId],[StopWord]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'about');
GO
INSERT INTO [be_StopWords] ([StopWordRowId],[BlogId],[StopWord]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'actually');
GO
SET IDENTITY_INSERT [be_StopWords] OFF;
GO
SET IDENTITY_INSERT [be_Settings] ON;
GO
INSERT INTO [be_Settings] ([SettingRowId],[BlogId],[SettingName],[SettingValue]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'administratorrole',N'Administrators');
GO
INSERT INTO [be_Settings] ([SettingRowId],[BlogId],[SettingName],[SettingValue]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'alternatefeedurl',N'');
GO
INSERT INTO [be_Settings] ([SettingRowId],[BlogId],[SettingName],[SettingValue]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'authorname',N'My name');
GO
SET IDENTITY_INSERT [be_Settings] OFF;
GO
SET IDENTITY_INSERT [be_Roles] ON;
GO
INSERT INTO [be_Roles] ([RoleID],[BlogID],[Role]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'Administrators');
GO
INSERT INTO [be_Roles] ([RoleID],[BlogID],[Role]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'Editors');
GO
INSERT INTO [be_Roles] ([RoleID],[BlogID],[Role]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'Anonymous');
GO
SET IDENTITY_INSERT [be_Roles] OFF;
GO
SET IDENTITY_INSERT [be_Rights] ON;
GO
INSERT INTO [be_Rights] ([RightRowId],[BlogId],[RightName]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'None');
GO
INSERT INTO [be_Rights] ([RightRowId],[BlogId],[RightName]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'ViewDetailedErrorMessages');
GO
INSERT INTO [be_Rights] ([RightRowId],[BlogId],[RightName]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'AccessAdminPages');
GO
SET IDENTITY_INSERT [be_Rights] OFF;
GO
SET IDENTITY_INSERT [be_RightRoles] ON;
GO
INSERT INTO [be_RightRoles] ([RightRoleRowId],[BlogId],[RightName],[Role]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'ViewDetailedErrorMessages',N'Administrators');
GO
INSERT INTO [be_RightRoles] ([RightRoleRowId],[BlogId],[RightName],[Role]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'AccessAdminPages',N'Administrators');
GO
INSERT INTO [be_RightRoles] ([RightRoleRowId],[BlogId],[RightName],[Role]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'AccessAdminPages',N'Editors');
GO
SET IDENTITY_INSERT [be_RightRoles] OFF;
GO
SET IDENTITY_INSERT [be_Referrers] OFF;
GO
SET IDENTITY_INSERT [be_QuickSettings] OFF;
GO
SET IDENTITY_INSERT [be_QuickNotes] OFF;
GO
SET IDENTITY_INSERT [be_Profiles] OFF;
GO
SET IDENTITY_INSERT [be_PostTag] ON;
GO
INSERT INTO [be_PostTag] ([PostTagID],[BlogID],[PostID],[Tag]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c','10ecdf6f-2cf7-447c-8ff7-223833550716',N'blog');
GO
INSERT INTO [be_PostTag] ([PostTagID],[BlogID],[PostID],[Tag]) VALUES (4,'27604f05-86ad-47ef-9e05-950bb762570c','10ecdf6f-2cf7-447c-8ff7-223833550716',N'welcome');
GO
SET IDENTITY_INSERT [be_PostTag] OFF;
GO
SET IDENTITY_INSERT [be_Posts] ON;
GO
SET IDENTITY_INSERT [be_Posts] OFF;
GO
SET IDENTITY_INSERT [be_PostNotify] OFF;
GO
SET IDENTITY_INSERT [be_PostComment] OFF;
GO
SET IDENTITY_INSERT [be_PostCategory] ON;
GO
INSERT INTO [be_PostCategory] ([PostCategoryID],[BlogID],[PostID],[CategoryID]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c','10ecdf6f-2cf7-447c-8ff7-223833550716','05366547-5c8e-4643-ad94-377d3f809ab8');
GO
SET IDENTITY_INSERT [be_PostCategory] OFF;
GO
SET IDENTITY_INSERT [be_PingService] ON;
GO
INSERT INTO [be_PingService] ([PingServiceID],[BlogID],[Link]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'http://rpc.technorati.com/rpc/ping');
GO
INSERT INTO [be_PingService] ([PingServiceID],[BlogID],[Link]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c',N'http://rpc.pingomatic.com/rpc2');
GO
INSERT INTO [be_PingService] ([PingServiceID],[BlogID],[Link]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c',N'http://ping.feedburner.com');
GO
SET IDENTITY_INSERT [be_PingService] OFF;
GO
SET IDENTITY_INSERT [be_Pages] OFF;
GO

SET IDENTITY_INSERT [be_DataStoreSettings] ON;
GO
SET IDENTITY_INSERT [be_DataStoreSettings] OFF;
GO
SET IDENTITY_INSERT [be_Categories] ON;
GO
INSERT INTO [be_Categories] ([CategoryRowID],[BlogID],[CategoryID],[CategoryName],[Description],[ParentID]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c','05366547-5c8e-4643-ad94-377d3f809ab8',N'General',N'',NULL);
GO
SET IDENTITY_INSERT [be_Categories] OFF;
GO
SET IDENTITY_INSERT [be_Blogs] ON;
GO
INSERT INTO [be_Blogs] ([BlogRowId],[BlogId],[BlogName],[Hostname],[IsAnyTextBeforeHostnameAccepted],[StorageContainerName],[VirtualPath],[IsPrimary],[IsActive],[IsSiteAggregation]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c',N'Primary',N'',0,N'',N'~/',1,1,0);
GO
SET IDENTITY_INSERT [be_Blogs] OFF;
GO
SET IDENTITY_INSERT [be_BlogRollItems] ON;
GO
INSERT INTO [be_BlogRollItems] ([BlogRollRowId],[BlogId],[BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES (1,'27604f05-86ad-47ef-9e05-950bb762570c','25e4d8da-3278-4e58-b0bf-932496dabc96',N'Mads Kristensen',N'Full featured simplicity in ASP.NET and C#',N'http://www.madskristensen.dk/',N'http://feeds.feedburner.com/netslave',N'contact',0);
GO
INSERT INTO [be_BlogRollItems] ([BlogRollRowId],[BlogId],[BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES (2,'27604f05-86ad-47ef-9e05-950bb762570c','ccc817ef-e760-482b-b82f-a6854663110f',N'Al Nyveldt',N'Adventures in Code and Other Stories',N'http://www.nyveldt.com/blog/',N'http://feeds.feedburner.com/razorant',N'contact',1);
GO
INSERT INTO [be_BlogRollItems] ([BlogRollRowId],[BlogId],[BlogRollId],[Title],[Description],[BlogUrl],[FeedUrl],[Xfn],[SortIndex]) VALUES (3,'27604f05-86ad-47ef-9e05-950bb762570c','dcdaa78b-0b77-4691-99f0-1bb6418945a1',N'Ruslan Tur',N'.NET and Open Source: better together',N'http://rtur.net/blog/',N'http://feeds.feedburner.com/rtur',N'contact',2);
GO
SET IDENTITY_INSERT [be_BlogRollItems] OFF;
GO
ALTER TABLE [be_Users] ADD CONSTRAINT [PK_be_Users_UserID] PRIMARY KEY ([UserID]);
GO
ALTER TABLE [be_UserRoles] ADD CONSTRAINT [PK_be_UserRoles_UserRoleID] PRIMARY KEY ([UserRoleID]);
GO
ALTER TABLE [be_StopWords] ADD CONSTRAINT [PK_be_StopWords_StopWordRowId] PRIMARY KEY ([StopWordRowId]);
GO
ALTER TABLE [be_Settings] ADD CONSTRAINT [PK_be_Settings_SettingRowId] PRIMARY KEY ([SettingRowId]);
GO
ALTER TABLE [be_Roles] ADD CONSTRAINT [PK_be_Roles_RoleID] PRIMARY KEY ([RoleID]);
GO
ALTER TABLE [be_Rights] ADD CONSTRAINT [PK_be_Rights_RightRowId] PRIMARY KEY ([RightRowId]);
GO
ALTER TABLE [be_RightRoles] ADD CONSTRAINT [PK_be_RightRoles_RightRoleRowId] PRIMARY KEY ([RightRoleRowId]);
GO
ALTER TABLE [be_Referrers] ADD CONSTRAINT [PK_be_Referrers_ReferrerRowId] PRIMARY KEY ([ReferrerRowId]);
GO
ALTER TABLE [be_QuickSettings] ADD CONSTRAINT [PK_be_QuickSettings] PRIMARY KEY ([QuickSettingID]);
GO
ALTER TABLE [be_QuickNotes] ADD CONSTRAINT [PK_be_QuickNotes] PRIMARY KEY ([QuickNoteID]);
GO
ALTER TABLE [be_Profiles] ADD CONSTRAINT [PK_be_Profiles_ProfileID] PRIMARY KEY ([ProfileID]);
GO
ALTER TABLE [be_PostTag] ADD CONSTRAINT [PK_be_PostTag_PostTagID] PRIMARY KEY ([PostTagID]);
GO
ALTER TABLE [be_Posts] ADD CONSTRAINT [PK_be_Posts_PostRowID] PRIMARY KEY ([PostRowID]);
GO
ALTER TABLE [be_PostNotify] ADD CONSTRAINT [PK_be_PostNotify_PostNotifyID] PRIMARY KEY ([PostNotifyID]);
GO
ALTER TABLE [be_PostComment] ADD CONSTRAINT [PK_be_PostComment_PostCommentRowID] PRIMARY KEY ([PostCommentRowID]);
GO
ALTER TABLE [be_PostCategory] ADD CONSTRAINT [PK_be_PostCategory_PostCategoryID] PRIMARY KEY ([PostCategoryID]);
GO
ALTER TABLE [be_PingService] ADD CONSTRAINT [PK_be_PingService_PingServiceID] PRIMARY KEY ([PingServiceID]);
GO
ALTER TABLE [be_Pages] ADD CONSTRAINT [PK_be_Pages_PageRowID] PRIMARY KEY ([PageRowID]);
GO
ALTER TABLE [be_Packages] ADD CONSTRAINT [PK_be_Packages] PRIMARY KEY ([PackageId]);
GO
ALTER TABLE [be_PackageFiles] ADD CONSTRAINT [PK_be_PackageFiles] PRIMARY KEY ([PackageId],[FileOrder]);
GO
ALTER TABLE [be_FileStoreFileThumbs] ADD CONSTRAINT [PK_be_FileStoreFileThumbs] PRIMARY KEY ([thumbnailId]);
GO
ALTER TABLE [be_FileStoreFiles] ADD CONSTRAINT [PK_be_FileStoreFiles] PRIMARY KEY ([FileID]);
GO
ALTER TABLE [be_FileStoreDirectory] ADD CONSTRAINT [PK_be_FileStoreDirectory] PRIMARY KEY ([Id]);
GO
ALTER TABLE [be_DataStoreSettings] ADD CONSTRAINT [PK_be_DataStoreSettings_DataStoreSettingRowId] PRIMARY KEY ([DataStoreSettingRowId]);
GO
ALTER TABLE [be_Categories] ADD CONSTRAINT [PK_be_Categories_CategoryRowID] PRIMARY KEY ([CategoryRowID]);
GO
ALTER TABLE [be_Blogs] ADD CONSTRAINT [PK_be_Blogs_BlogRowId] PRIMARY KEY ([BlogRowId]);
GO
ALTER TABLE [be_BlogRollItems] ADD CONSTRAINT [PK_be_BlogRollItems_BlogRollRowId] PRIMARY KEY ([BlogRollRowId]);
GO
CREATE INDEX [idx_be_Users_BlogId_UserName] ON [be_Users] ([BlogID] ASC,[UserName] ASC);
GO
CREATE INDEX [idx_be_UserRoles_BlogId] ON [be_UserRoles] ([BlogID] ASC);
GO
CREATE INDEX [idx_be_StopWords_BlogId] ON [be_StopWords] ([BlogId] ASC);
GO
CREATE INDEX [idx_be_Settings_BlogId] ON [be_Settings] ([BlogId] ASC);
GO
CREATE UNIQUE INDEX [idx_be_Roles_BlogID_Role] ON [be_Roles] ([BlogID] ASC,[Role] ASC);
GO
CREATE INDEX [idx_be_Rights_BlogId] ON [be_Rights] ([BlogId] ASC);
GO
CREATE INDEX [idx_be_RightRoles_BlogId] ON [be_RightRoles] ([BlogId] ASC);
GO
CREATE INDEX [idx_be_Referrers_BlogId] ON [be_Referrers] ([BlogId] ASC);
GO
CREATE INDEX [idx_be_NoteId_BlogId_UserName] ON [be_QuickNotes] ([NoteID] ASC,[BlogID] ASC,[UserName] ASC);
GO
CREATE INDEX [idx_be_Profiles_BlogId_UserName] ON [be_Profiles] ([BlogID] ASC,[UserName] ASC);
GO
CREATE INDEX [idx_be_PostTag_BlogId_PostId] ON [be_PostTag] ([BlogID] ASC,[PostID] ASC);
GO
CREATE UNIQUE INDEX [be_Posts_BlogID_PostID] ON [be_Posts] ([BlogID] ASC,[PostID] ASC);
GO
CREATE INDEX [FK_PostID] ON [be_PostNotify] ([BlogID] ASC,[PostID] ASC);
GO
CREATE INDEX [idx_be_PostComment_BlogId_PostId] ON [be_PostComment] ([BlogID] ASC,[PostID] ASC);
GO
CREATE INDEX [idx_be_PostCategory_BlogId_CategoryId] ON [be_PostCategory] ([BlogID] ASC,[CategoryID] ASC);
GO
CREATE INDEX [idx_be_PostCategory_BlogId_PostId] ON [be_PostCategory] ([BlogID] ASC,[PostID] ASC);
GO
CREATE INDEX [idx_be_PingService_BlogId] ON [be_PingService] ([BlogID] ASC);
GO
CREATE INDEX [idx_Pages_BlogId_PageId] ON [be_Pages] ([BlogID] ASC,[PageID] ASC);
GO
CREATE INDEX [idx_be_DataStoreSettings_BlogId_ExtensionType_TypeID] ON [be_DataStoreSettings] ([BlogId] ASC,[ExtensionType] ASC,[ExtensionId] ASC);
GO
CREATE UNIQUE INDEX [idx_be_Categories_BlogID_CategoryID] ON [be_Categories] ([BlogID] ASC,[CategoryID] ASC);
GO
CREATE INDEX [idx_be_BlogRollItems_BlogId] ON [be_BlogRollItems] ([BlogId] ASC);
GO

--
-- be_CustomFields
--
CREATE TABLE [be_CustomFields](
	[CustomType] [nvarchar](100) NOT NULL,
	[ObjectId] [nvarchar](250) NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](250) NOT NULL,
	[Value] ntext NOT NULL,
	[Attribute] [nvarchar](250) NULL
);
GO

CREATE NONCLUSTERED INDEX [idx_be_CustomType_ObjectId_BlogId_Key] ON [be_CustomFields] 
(
	[CustomType] ASC,
	[ObjectId] ASC,
	[BlogId] ASC,
	[Key] ASC
);
GO

